/* canvas */
canvas {
    height: 500px;
    width: 1000px;
    z-index: 2;
}
.chart-container {
  position: relative;
    margin: auto;
    height: 500px;
    width: 1000px;
    z-index: 1;
}

/*slider*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 13px; /* Specified height */
  border-radius: 10px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  transition: opacity 0.2s
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 20px;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow:0 .225rem .35rem rgba(0,0,0,.35)
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #a8c7fa; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*On/off switch*/
.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: #d3d3d3;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.circle.active {
}
.submitBtn {
  width: 75px;
  height: 36px;
  opacity: 1;
  border-width: 1px;
  border-color: #a8c7fa;
  border-radius: 20px;
  background-color: white;
  font-size: 15px;
}

.submitBtn:hover {
  background-color: #ededed;
  transition: 0.2s;
}