/* canvas */
canvas {
    height: 500px;
    width: 1000px;
    z-index: 2;
}
.chart-container {
  position: relative;
    margin: auto;
    height: 500px;
    width: 1000px;
    z-index: 1;
}

/*slider*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 13px; /* Specified height */
  border-radius: 10px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  transition: opacity 0.2s
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 20px;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow:0 .225rem .35rem rgba(0,0,0,.35)
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #a8c7fa; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*On/off switch*/
.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: #d3d3d3;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.circle.active {
}
/* From Uiverse.io by TCdesign-dev */ 
.submit-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
 }
 
.submit-button:hover,
.submit-button:focus {
border-color: rgba(0, 0, 0, 0.15);
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
color: rgba(0, 0, 0, 0.65);
}

.submit-button:hover {
transform: translateY(-1px);
}

.submit-button:active {
background-color: #F0F0F1;
border-color: rgba(0, 0, 0, 0.15);
box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
color: rgba(0, 0, 0, 0.65);
transform: translateY(0);
}