body {
    display: flex;
    flex-direction: column;
    height: 3300px;
}

header {
    border-radius: 10px;
    position: sticky;
    margin-bottom: 20px;
    top: 0;
    height: 80px;
    z-index: 2;
}


#logo {
    height: 40px;
    margin-left: 10px;
}

#title {
    font-size: 30px;
    padding-left: 15px;
    padding-top: 5px;
}

#container {
    display: flex;
    flex-direction: row;
}


#left{
    width: 256px;
    position: fixed 
}

.list {
    list-style-type: none;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.left-hand-menu{
    background-color: none;
    height: 50px;
    padding: 13px 0px 10px 23px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#right {
    margin-left: 270px;
    display: flex;
    flex-direction: column;
}

section{
    margin-top: 20px;
}

.description {
    font-size: 20px;
}

.img-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 550px;
    object-fit: cover;
}

.img-full{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 750px;
}

.historical-data {
    display: flex;
    flex-direction: column;
}

.current-data-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.boolean-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pump-status {
    margin-left: 35px;
}

.light-status {
    margin-right: 20px
}

.left-hand-menu:hover {
    background-color: #f0ecec;
    cursor: pointer;
}