<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Planting System</title>
        <link rel="stylesheet" href="/static/css/styling.css">
        <link rel="stylesheet" href="/static/css/frontend.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script type="text/javascript" src="//d1l4stvdmqmdzl.cloudfront.net/3.9.6/mongoose.js">
        </script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    
    <body>
        <header class="shadow p-3 mb-5 bg-white rounded">
            <div class="head-container d-flex justify-content-start">
                <img id="logo" src="/static/plant.png">
                <p id="title" style="display: inline-block">Smart Planting System</p>
            </div>
        </header>

        <main>
            <div id="container">
                <nav id="left">
                   <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="left-hand-menu">
                            <div class="list">Home</div>
                        </div>   
                        <div class="left-hand-menu"> 
                            <div class="list">Current Data</div>
                        </div>
                        <div class="left-hand-menu">
                            <div class="list">Historical Data</div>
                        </div>    
                        <div class="left-hand-menu">
                            <div class="list">Feature Extraction</div>
                        </div>    
                        <div class="left-hand-menu">
                            <div class="list">Garden Assistant</div>
                        </div>    
                    </div> 
                </nav>

                <div id="right">
                    <section>
                        <h2>Home Page</h2>
                        <p>This is the home page</p>
                    </section>

                    <section>
                        <h2>Current Data</h2>
                        <p>This is the realtime data</p>
                        <div class="curr-data-section">
                            <!-- Rounded switch -->
                        <div class="boolean-status" style="display: inline-block; margin-right: 50px">
                            <p>Pump status</p>
                            <label class="switch">
                                <input type="checkbox" name="pump-status" id="pump-status-check">
                                <span class="toggle round"></span>
                            </label>
                        </div>

                        <div class="boolean-status" style="display: inline-block">
                            <p>Light status</p>
                            <label class="switch">
                                <input type="checkbox" name="light-status" id="light-status-check">
                                <span class="toggle round"></span>
                            </label>
                        </div>
                        </div>
                        
                    </section>

                    <section class="historical-data">
                        <h2>Historical Data</h2>
                        <p>This is the historical data</p>
                        <div class="chart-container">
                            <canvas id="myTempChart"></canvas>
                        </div>
                        <div class="chart-container">
                            <canvas id="myHumidChart"></canvas>
                        </div>
                    </section>

                    <section>
                        <h2>Feature Extraction</h2>
                        <p>This is the feature extraction</p>
                    </section>

                    <section>
                        <h2>Garden Assistant</h2>
                        <p>This is the garden assistant</p>
                        <div class="slider-container">
                            <input type="range" min="1" max="100" class="slider" id="mySlider" name="threshold">
                            <div>
                                <button class="submitBtn" id="updateButton" onclick="updateData()">Update</button>
                            </div>
                            
                        </div>
                        <div>
                            <p id="myValue"></p>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <footer>
            <p>2025 This is Smart Planting System</p>
        </footer>
        
    </body>

    <!-- Fetch Data using xml -->
    <script src="/static/javaScript/historcalChart.js"></script>


    <!-- Webapp to Firebase -->
    <script type="module" src="/static/javaScript/serverToClient.js"></script>

    <!-- Slider value on Screen -->
    <script>
        var userInput = document.getElementById("mySlider");
        var valueOnScreen = document.getElementById("myValue");
        if (localStorage.getItem("rangeValue")) {
                userInput.value = localStorage.getItem("rangeValue");
                valueOnScreen.innerHTML = `<h4>Moisture Threshold ${userInput.value}</h4>`;
            }
        //Function on input
        function fetchUserInput() {
            localStorage.setItem("rangeValue", userInput.value);
            valueOnScreen.innerHTML = `<h4>Moisture Threshold ${userInput.value}</h4>`;
            console.log(JSON.stringify({"user input": userInput.value}));
        }
        userInput.addEventListener("input", fetchUserInput);        
    </script>

</html>